<div id="main_screen">
</div>
<h1 class="big_title">MOSHA</h1>
<div class="idx_wrap">
    <button class="start_button btn_index" id="start_btn">START</button>
</div>


<!-- Modal Contents -->

<div id="dialog" class="dialog">
    <div class="dialog-overlay"></div>
    <div id="dialog-content" class="dialog-content">
        <h1>Did you have an<br>account?</h1>
        <div class="btn_wrap">
            <a class="cubic-btn" href="/users/sign_in">LOGIN</a>
            <a class="cubic-btn primary" href="/users/sign_up">SIGNUP</a>
        </div>
        <button class="dialog-close circle-btn">CLOSE</button>
    </div>
</div>
