.inputbox {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.inputbox {
    background: #fff;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
}
